option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    STREAMLIT_SERVER_HEADLESS: "true"
    STREAMLIT_SERVER_PORT: "8080"
    STREAMLIT_SERVER_ADDRESS: "0.0.0.0"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
